@model Site.Models.Views.PersonaleViewModel
@{
    ViewData["Title"] = "Personale";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.Testo</p>

@if (!string.IsNullOrWhiteSpace(Html.ViewContext.HttpContext.User.Identity.Name))
{
    <a asp-controller="AreaRiservata" asp-action="CreaPersonale"  class="btn btn-primary"  >Crea nuovo</a>
    <a asp-controller="AreaRiservata" asp-action="ScaricaExcelPersonale" class="btn btn-info">Scarica Excel Personale</a>
    <br/>
    <br />
}

<div class="row">
    <div class="col-md-2">
        Cognome
    </div>
    <div class="col-md-2">
        Data di Nascita
    </div>
    <div class="col-md-2">
        Professione
    </div>
    <div class="col-md-2">
        Reparto
    </div>
    <div class="col-md-1">
        Stipendio
    </div>
    <div class="col-md-1">
        Superiore
    </div>
    <div class="col-md-2">
    </div>
</div>
@foreach (var item in Model.ListaPersonale)
{
    <div class="row">
        <div class="col-md-2">
            <a asp-controller="Home" asp-action="DettaglioPersonale" asp-route-id="@item.Id">@item.Cognome</a>
        </div>
        <div class="col-md-2">
            @item.DataNascita.ToShortDateString()
        </div>
        <div class="col-md-2">
            @item.Professione
        </div>
        <div class="col-md-2">
            @item.Reparto
        </div>
        <div class="col-md-1">
            @String.Format("€ {0:00.00}", item.Stipendio)
        </div>
        <div class="col-md-1">
            @if (item.SuperioreId > 0)
            {
                <a asp-controller="Home" asp-action="DettaglioPersonale" asp-route-id="@item.SuperioreId">@item.Superiore.Cognome</a>
            }
        </div>
        <div class="col-md-2">
            @if (!string.IsNullOrWhiteSpace(Html.ViewContext.HttpContext.User.Identity.Name))
            {
                <a asp-controller="AreaRiservata" asp-action="ModificaPersonale" asp-route-id="@item.Id" class="btn btn-success btn-sm">Modifica</a>
                <a asp-controller="AreaRiservata" asp-action="CancellaPersonale" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Cancella</a>
            }
        </div>
    </div>
    <br/>
}
