@model Site.Models.Views.PersonaleViewModel
@{
    ViewData["Title"] = "Personale";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.Testo</p>

<div class="row">
    <div class="col-md-2">
        Cognome
    </div>
    <div class="col-md-2">
        Data di Nascita
    </div>
    <div class="col-md-2">
        Professione
    </div>
    <div class="col-md-2">
        Reparto
    </div>
    <div class="col-md-2">
        Stipendio
    </div>
    <div class="col-md-2">
        Superiore
    </div>
</div>
@foreach (var item in Model.ListaPersonale)
{
    <div class="row">
        <div class="col-md-2">
            <a asp-controller="Home" asp-action="DettaglioPersonale" asp-route-id="@item.Id">@item.Cognome</a>
        </div>
        <div class="col-md-2">
            @item.DataNascita.ToShortDateString()
        </div>
        <div class="col-md-2">
            @item.Professione
        </div>
        <div class="col-md-2">
            @item.Reparto
        </div>
        <div class="col-md-2">
            @String.Format("€ {0:00.00}", item.Stipendio)
        </div>
        <div class="col-md-2">
            @if (item.SuperioreId > 0)
            {
                 <a asp-controller="Home" asp-action="DettaglioPersonale" asp-route-id="@item.SuperioreId">@item.Superiore.Cognome</a>
            }
        </div>
    </div>
}
